[Unit]
Description=computer server monitor
After=network-online.target

[Service]
User=text
ExecStart=/opt/cserver/cserver.sh
RuntimeMaxSec=3600s
Restart=always
RestartSec=42s

[Install]
WantedBy=multi-user.target